<% layout('layout/boilerplate') -%>

<section class="d-flex flex-column" style="margin-left: 10vw; margin-right: 10vw;">

    <div class="column my-2" id="">
        <div class="p-3 column-child">
            <div class="fw-semibold">Hello there!!<br>How may I help you? 😊!!!</div>
        </div>
        
       
    </div>
    
    <div class="input-group mb-3 mt-auto">
        <textarea type="text" class="form-control" id="input" placeholder="Promt" aria-label="Recipient's username" aria-describedby="button-addon2"></textarea>
        <button class="btn btn-outline-secondary send-btn" type="button" id="button-addon2">Send</button>
    </div>
</section>

